.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.sorting-header {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.modal-body a {
  word-wrap: break-word;
}