<div class="form-group w-75">
  <label>New Password</label>
  <input class="form-control" [(ngModel)]="userChangePasswordModel.password" type="password" name="newPassword" minlength="6"
    maxlength="16" required #newPass="ngModel">
</div>
<div class="form-group w-75">
  <label>Repeat Password</label>
  <input class="form-control" [(ngModel)]="repeatPassword" type="password" name="repeatPassword" minlength="6" maxlength="16" required
    #repeatPass="ngModel">
</div>
<p *ngIf="isPasswordSuccess" class="form-success">Password has been successfully updated</p>
<p *ngIf="isPasswordValidError" class="form-error">Incorrect password for changing</p>
<p *ngIf="isPasswordError" class="form-error">Passwords don't match</p>
<button class="btn btn-primary w-75" (click)="changePassword(newPass.valid && repeatPass.valid)">
  <p>Change password</p>
</button>